@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "lato";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#btn-popup {
  transition: 0.3s ease;
}

.inbox-close,
.task-close {
  opacity: 0;
  visibility: hidden;
  transform: translateX(0);
  transition: 0.3s ease;
}

.inbox-open {
  opacity: 1;
  visibility: visible;
  transform: translateX(-80px);
  transition: 0.3s ease;
}

.task-open {
  opacity: 1;
  visibility: visible;
  transform: translateX(-150px);
  transition: 0.3s ease;
}

.inbox-active,
.task-active {
  transition: 0.3s ease;
  z-index: 200;
}

.btn-active {
  position: absolute;
  bottom: -5px;
  right: -10px;
  width: 64px;
  height: 64px;
}

.task-modal-active,
.inbox-modal-active {
  opacity: 1;
  padding: 12px 16px;
  visibility: visible;
  transition: 0.5s ease;
  z-index: 200;
}
.task-modal-inactive,
.inbox-modal-inactive {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
  z-index: 200;
}

#list-task::-webkit-scrollbar {
  width: 7px;
}

#list-task::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 3px;
}
